div {
	border-style: solid;
	border-width: 5px;
	border-color: black;
	padding: 30px;
	background-color: black;
}

.container {
	border-color: black;
}

.row {
	border-color: black;
}

.list-group-item{
	border: 0;
	margin-top: 30px;
	margin-bottom: 30px;
}

#name{
	font-size: 75px;
	color: cornsilk;
	margin-left: 75px;
	font-family: 'Lemon', cursive;
}

#ham{
	margin-left: 900px;
}

#hamrow{
	padding-bottom: 0px;
}

body{
	background-color: black;
	font-family: arvo, serif;
}

#pics{
	margin-left: 67px;
	padding: 0;
}

#yoyo{
	background-color: black;
}

#heed{
	height: 222px;
	margin-top: -10px;
}

@import url(http://fonts.googleapis.com/css?family=Arvo:700);

/* @Reset */
* {
    margin: 0;
    padding: 0;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

/* @Utility */


.vertical-center {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

/* @Base Styles */


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
}

/* @Layout */
.logo {
    width: 60%;
    min-width: 160px;
    max-width: 320px;
    height: auto;
    margin: 0 auto;
    display: block;
}

.toggle {
    width: 50px;
    height: 40px;
    float: right;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    z-index: 10;
    background: url(http://i1367.photobucket.com/albums/r792/acochran89/three-line_zps58474864.png) no-repeat 50% 50%;
    background-size: cover;
    position: absolute;
    top: 1em;
    right: 20px;
    -webkit-transform: rotate(0);
    transform: rotate(0);
    margin-right: 6%;
    margin-top: 6%;
}

.menu {
    position: fixed;
    top: -12em;
    left: 0;
    width: 100%;
    background: black;
    -webkit-transform: translateY(0);
    transform: translateY(0);
}

.menu ul {
    padding: 0px;
}

.menu li {
    padding: 18px 0;
    text-align: center;
    font-size: 1em;
    display: block;
    text-transform: uppercase;
    font-weight: bold;
}

.menu a:hover {
    color: gray;
}

.rotate {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

.open {
    -webkit-transform: translateY(10em);
    transform: translateY(15em);
}

.btn.btn-primary{
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	height: 50px;
	background-color: gray;
}

#galtext{
	font-size: 75px;
	color: cornsilk;
	margin-left: 75px;
	font-family: 'Lemon', cursive;
}

.carousel.slide{
	width: 550px;
	margin-left: auto;
	margin-right: auto;
}

.modal-content{
	height: 120px;
	text-align: left;
}

.links{
	padding-bottom: 50px;
	font-size: 30px;
	text-align: center;
}

#Nam{
	color: cornsilk;
	text-decoration: none;
}

#Gal{
	color: cornsilk;
	text-decoration: none;
}

#Proj{
	color: cornsilk;
	text-decoration: none;
}

#protext{
	font-size: 75px;
	color: cornsilk;
	margin-left: 75px;
	font-family: 'Lemon', cursive;
}

/* unvisited link */
a:link {
    color: cornsilk;
}

/* visited link */
a:visited {
    color: gray;
}

/* mouse over link */
a:hover {
    color: gray;
}

/* selected link */
a:active {
    color: gray;
}

#gall{
	margin-left: auto;
	margin-right: auto;
	width: 1234px;
}